$highlight-color: #d03958;
$primary-color: #83b8e2;
$secondary-color: #1f5b9e;

* {
  all: unset;

  font-size: 15px; //30
  font-weight: bold;

  //border: 1px solid white;
}

.bar {
  margin: 5px 5px 0px 5px; //10
  background-color: #000;
  border: 2px solid $primary-color; //4
  border-radius: 10px; //20

}

// Grouppings
.left-group, .middle-group, .right-group {
  margin: 0px 8px 0px 8px; //15

  //& > * { // Children
  //  margin: 0px 20px 0px 20px;  
  //}
}


.left-group {
  color: $primary-color;
}
.middle-group {

}
.right-group {
  color: $primary-color;
}



// Workspaces
.workspace-icon {
  margin: 0px 5px 0px 5px; //10

  &.empty {
    color: $secondary-color;
  }

  &.in-use {
    color: $primary-color;
  }

  &.focus {
    color: $highlight-color;
  }
}


// System Tray
.system-tray-element {
  margin: 0px 5px 0px 5px; //10
}


// Icons
.icon {
  margin: 0px 10px 0px 10px; //20

  &.clickable :hover {
    color: $highlight-color;
  }
} 


// Spacer
.spacer {
  margin: 0px 15px 0px 15px; //30
  color: $highlight-color;
}


tooltip {
  border-radius: 5px; //10
  background-color: black;
  border: 1px solid $primary-color; //2
  color: $primary-color;
}

.urgent {
  color: red;
}
