$highlight-color: #d03958;
$primary-color: #83b8e2;
$secondary-color: #1f5b9e;

* {
  all: unset;

  font-size: 30px;
  font-weight: bold;

  //border: 1px solid white;
}

.bar {
  margin: 10px 10px 0px 10px;
  background-color: #000;
  border: 4px solid $primary-color;
  border-radius: 20px;

}

// Grouppings
.left-group, .middle-group, .right-group {
  margin: 0px 15px 0px 15px;

  //& > * { // Children
  //  margin: 0px 20px 0px 20px;  
  //}
}


.left-group {
  color: $primary-color;
}
.middle-group {

}
.right-group {
  color: $primary-color;
}



// Workspaces
.workspace-icon {
  margin: 0px 10px 0px 10px;

  &.empty {
    color: $secondary-color;
  }

  &.in-use {
    color: $primary-color;
  }

  &.focus {
    color: $highlight-color;
  }
}


// System Tray
.system-tray-element {
  margin: 0px 10px 0px 10px;
}


// Icons
.icon {
  margin: 0px 20px 0px 20px;

  &.clickable :hover {
    color: $highlight-color;
  }
} 


// Spacer
.spacer {
  margin: 0px 30px 0px 30px;
  color: $highlight-color;
}


.urgent {
  color: red;
}
